.premade{
    width: 100%;
    min-height:60vh ;
  
    text-align: center;
    display: flex;
    flex-flow:column ;
    align-items: center;
    h1{
        color: white;
        border-bottom: 2px solid black;
    }

.build-list{
    color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    
}
    .item-prebuild{
        width: 250px;
        height: 400px;
        background: #101524;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        border: 2px solid black;
        border-radius: 15px;
        padding: 1em;
        margin: 1em;

    
    }

}
button{
    cursor: pointer;
    color:white ;
    width: 10em;
    height: 3em;
    border-radius: 15px;
    border-color: transparent;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation:  gradient 300s ease infinite;
}
.builder{
    color: white;
display: flex;
align-items: center;
margin: 2em;
justify-content: center; 
flex-flow: column;
max-width: 100%;

min-height: 60vh ;
h1{
    color: white;
        border-bottom: 2px solid black;  
}
form{
    background: #101524;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2em;
select{
    margin: .6em;
    color: white;
    border: 3px solid black;
    animation:  gradient 300s ease infinite;
    border-radius: 15px;
    width: 10em;
    height: 3em;
    text-align: center;
    background: transparent;
}
}

}




@media only screen and (max-width: 900px) {

.premade{
    .build-list{
        flex-flow: column;
    }
   
}

}